In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/lending-club-loan-data/loan.csv',sep=',')

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.col

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.shape

(887379, 74)

In [9]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [10]:
df2 = df[['loan_amnt','loan_status','grade','int_rate','term']]

In [11]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [14]:
df2.tail()

        loan_amnt loan_status grade  int_rate        term
887374    10000.0     Current     B     11.99   36 months
887375    24000.0     Current     B     11.99   36 months
887376    13000.0     Current     D     15.99   60 months
887377    12000.0     Current     E     19.99   60 months
887378    20000.0     Current     B     11.99   36 months

In [15]:
df2.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [16]:
df2.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [17]:
df2.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [19]:
df2.shape

(887379, 5)

In [20]:
df2 = df2.dropna(how='any')

In [21]:
df2.shape

(887379, 5)

In [22]:
a = {}
b = df2.term.unique()

In [23]:
for term in b:
    loan_amnt_sum = df2.loc[df2['term'] == term,'loan_amnt'].sum()
    a[term] = loan_amnt_sum

In [24]:
a

{' 36 months': 7752507375.0, ' 60 months': 5341004575.0}

In [25]:
term_to_loan_amnt = pd.Series(a)

In [26]:
term_to_loan_amnt

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

In [27]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [28]:
df2.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [29]:
total_status_category = df2.loan_status.unique()
bad_status_category = total_status_category[[1,3,4,5,6,8]]

In [30]:
bad_status_category

array(['Charged Off', 'Default', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

In [31]:
df2['bad_loan_status'] = df2['loan_status'].isin(bad_status_category)

In [32]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term  bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months            False
1     2500.0  Charged Off     C     15.27   60 months             True
2     2400.0   Fully Paid     C     15.96   36 months            False
3    10000.0   Fully Paid     C     13.49   36 months            False
4     3000.0      Current     B     12.69   60 months            False

In [33]:
bad_grade = df2.loc[df2['bad_loan_status'] == True,'grade'].value_counts()

In [34]:
bad_grade

C    19054
D    15859
B    13456
E     9745
F     4383
A     3663
G     1269
Name: grade, dtype: int64

In [35]:
bad_grade.sort_index()

A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: grade, dtype: int64

In [36]:
df2['loan_amnt'].corr(df2['int_rate'])

0.14502309929883955