In [1]:
In [1]: import pandas as pd

In [2]: import numpy as np

In [3]: import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.618711 -0.101704  1.942281 -1.056392
2013-01-02  0.511962 -0.633284  1.781009 -0.158954
2013-01-03  0.343420  0.249824  2.764048 -0.841244
2013-01-04  0.645334  0.442175  0.814557 -1.397023
2013-01-05  0.168621 -1.158370 -1.356945  0.910000
2013-01-06  1.041851  0.015067  0.969362 -0.096269

In [8]:
df2 = pd.DataFrame({'A':1.,'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([3]*4,dtype='int32'),
                   'E':pd.Categorical(['test','train','test','train']),
                   'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2013-01-01  0.618711 -0.101704  1.942281 -1.056392
2013-01-02  0.511962 -0.633284  1.781009 -0.158954
2013-01-03  0.343420  0.249824  2.764048 -0.841244
2013-01-04  0.645334  0.442175  0.814557 -1.397023
2013-01-05  0.168621 -1.158370 -1.356945  0.910000

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')